<div>
    <h2>Name {{user.name}}</h2>
    {{error}}

    <img ng-src="{{user.avatar_url}}" title="{{user.name}}" /> Order:
    <select ng-model="repoSortOrder">
        <option value="+name">name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select>
</div>

<table>
    <thead>
        <th>name</th>
        <th>stars</th>
        <th>Language</th>
    </thead>

    <tbody>

        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.stargazers_count}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>

</table>
<a href="#/main">Back to Main</a>